version: '3'

services:
    db:
        image: mysql
        #A mettre sur OSX et windows sinon permission denied
        user: "1000:50"
        volumes:
          - ./mysql-datadir:/var/lib/mysql
        ports:
          - 6603:3306
        environment:
          - "MYSQL_ROOT_PASSWORD=root"
          - "MYSQL_USER=your_user"
          - "MYSQL_PASSWORD=your_user_password"
          - "MYSQL_DATABASE=your_database_name"

#....... Mettre tout ici et le.yml reste pour le dev